/* Importação da fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

/* Estilo da logo no canto superior esquerdo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
}

.account-container {
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-color: #F5F7F8; /*Cor de fundo do container, de uma ponta a poutra*/
    display: flex;
    justify-content: center; 
    padding: 2rem 0;
    align-items: center;
    font-family: 'Open Sans', sans-serif; /* Garantir a fonte aqui também */
}

.account-box {    
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif; /* Aplicar fonte no conteúdo da caixa */
}

/*Configurações do rodapé*/
footer {
    background-color: #D3E8FB;
    padding: 3px 0;
    text-align: center;
    font-size: 14px;
    color: #031432;
    width: 100%; /* Altera a largura para ocupar toda a tela */
    margin: 0; /* Remove o margin para evitar o espaçamento */
    position: fixed;
    bottom: 0;
}
