html {
  font-size: 14px;
    font-family: Open Sans, sans-serif; !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
    /*Cores Prim�rias*/
    --ciano: #34d6a0;
    --verde-claro: #7dda58;
    --verde-escuro: #28b451;
    --azul: #587efd;
    --azul-claro: #d3e8fb;
    /*Cores Secund�rias*/
    --preto: #000000;
    --cinza: #f5f7f8;
    --branco: #FFFFFF;
    --azul-marinho: #031432;
    --vermelho: #d73838
}

.nav-logo {
    width: 200px;
    margin: 0 0 20px 30px;
}

.navbar {
    border-bottom: none !important;
    box-shadow: none !important;
}


.nav-link {
    font-family: Open Sans, sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--azul-marinho) !important;
    text-decoration: none;
}

.margem-coluna {
    margin: 50px 0 50px 0;
}


.text-dark {
    color: var(--azul-marinho) !important;
}



.footer {
    border-top: none !important;
    box-shadow: none !important;
}