body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    width: 200px; /* Aumentei o tamanho da logo */
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: -30px; /* Levanta todo o conteúdo da página mais um pouco */
}

.flex-container {
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente */
}

.main-image {
    width: 100%;
    max-width: 400px; /* Ajuste para o tamanho desejado */
    height: auto;
    margin-right: 30px; /* Espaçamento entre a imagem e os textos */
}

.text-section {
    text-align: left; /* Alinha o texto à esquerda */
}

h1 {
    color: #587EFD;
    font-size: 32px;
    font-weight: 600;
    margin-top: 0; /* Remove margem superior para um alinhamento mais próximo */
}

p {
    font-size: 18px;
    color: #666;
    text-align: justify; /* Justifica o texto do parágrafo */
}

.btn-wrapper {
    text-align: center; /* Centraliza o botão */
}

.btn-select {
    background-color: #34d6a0;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 20px; /* Ajuste o espaçamento se necessário */
    cursor: pointer;
}

.location-section {
    margin-top: 50px;
    text-align: center; /* Centraliza a frase "Encontre a UBS mais próxima" */
}

    .location-section h2 {
        color: #587EFD;
        font-size: 20px;
        margin-bottom: 30px;
    }

footer {
    background-color: #D3E8FB;
    padding: 3px 0;
    text-align: center;
    font-size: 14px;
    color: #999;
    width: 100%; /* Altera a largura para ocupar toda a tela */
    margin: 0; /* Remove o margin para evitar o espaçamento */
    position: relative;
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }

    .navbar-nav {
        margin-left: auto !important; /* Garante que o menu vai para a direita */
    }

        .navbar-nav .nav-link {
            padding: 0.5rem 1rem !important; /* Ajusta o espaçamento dos links se necessário */
        }


    .container {
        padding: 20px;
    }

    .main-image {
        max-width: 100%;
    }

    nav a {
        font-size: 14px;
    }

    .btn-select {
        font-size: 16px;
    }
}
