@model GestaoVacinas.Models.Membros

@{
	ViewData["Title"] = "Create";
}

<!-- Container principal para o conteúdo inicial -->
<div class="container mt-5">
	<div class="row align-items-center">
		<div class="col-md-6 text-center">
			<img src="~/images/cadastro-membro-img.svg" alt="Cadastro de Membro" class="img-fluid cadastro-membro-img">
		</div>
		<div class="col-md-6 text-md-start text-center mt-5">
			<h1 class="mb-3 text-primary">Cadastre um novo membro</h1>
			<h3 class="text-muted mb-4 mt-4">Facilitamos o controle de suas vacinas para que você cuide do que mais importa: sua saúde.</h3>
		</div>
	</div>
</div>

<!-- Box cinza de ponta a ponta -->
<div class="full-width-bg mt-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-body">
						<form asp-action="Create" class="custom-form">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="form-group mb-3">
								<label asp-for="Apelido" class="control-label"></label>
								<input asp-for="Apelido" class="form-control border-primary" placeholder="Digite um apelido" />
								<span asp-validation-for="Apelido" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="NomeCompleto" class="control-label"></label>
								<input asp-for="NomeCompleto" class="form-control border-primary" placeholder="Digite o nome completo" />
								<span asp-validation-for="NomeCompleto" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="DataNascimento" class="control-label"></label>
								<input asp-for="DataNascimento" class="form-control border-primary" placeholder="DD/MM/AAAA" />
								<span asp-validation-for="DataNascimento" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="Cpf" class="control-label"></label>
								<input asp-for="Cpf" class="form-control border-primary" placeholder="XXX.XXX.XXX-XX" />
								<span asp-validation-for="Cpf" class="text-danger"></span>
							</div>
							<div class="form-group mb-4">
								<label asp-for="Cns" class="control-label"></label>
								<input asp-for="Cns" class="form-control border-primary" placeholder="XXXXXXXXXXXXXXX" />
								<span asp-validation-for="Cns" class="text-danger"></span>
							</div>

							<div class="text-center">
								<input type="submit" value="Cadastrar membro" class="btn btn-primary" />
							</div>
							<div class="text-center mt-2">
								<a asp-action="Index" class="text-black">Voltar</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Styles {
	<style>
		/* Estilos para expandir o full-width-bg */
		.full-width-bg {
			background-color: #f5f7f8;
			padding-top: 2rem;
			padding-bottom: 2rem;
			/* Expansão para toda a largura */
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
			width: 100vw;
		}

		/* Remover o padding padrão do body para evitar barras de rolagem horizontais */
		body {
			overflow-x: hidden;
		}
	</style>
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
