@using GestaoVacinas.ViewModels;
@model VerifyEmailViewModel

@{
    ViewData["Title"] = "Verificar Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Email</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
    <style>

        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 120px;
        }


        footer {
            background-color: #D3E8FB;
            padding: 3px 0;
            text-align: center;
            font-size: 14px;
            color: #999;
            width: 100%; /* Altera a largura para ocupar toda a tela */
            margin: 0; /* Remove o margin para evitar o espaçamento */
            position: fixed;
            bottom: 0;
        }
    </style>
</head>
<body>
    <header>
        <img src="/images/Imuniti Logo.svg" alt="Logo Imuniti" class="logo">
    </header>

    <div class="account-container">
        <div class="account-box">
            <h2 class="text-center mb-4" style="color: #587EFD;font-weight: bold;">Esqueceu sua senha?</h2>
            <p class="text-center mt-2">
                Digite seu e-mail e em instantes você terá acesso <br>para criar uma nova senha.
            </p>
            <form asp-action="VerifyEmail" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" style="border: 1px solid #587EFD;" placeholder="nome@email.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="text-center mb-4">
                    <input type="submit" value="Recuperar senha" class="btn btn-success p-2" style="background-color: #34D6A0; border-color: #34D6A0; width: 50%;" />
                </div>
            </form>

            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Voltar</a>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2024 GestãoVacinas. All rights reserved.
    </footer>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</body>
</html>
