@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> SignInManager;

<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <!-- Aqui fica o logo ou título, caso precise -->
        <a class="navbar-brand" href="#">IMUNITI</a>

        <!-- Colocar o conteúdo à direita -->
        <div class="d-flex justify-content-end flex-grow-1">
            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Sair</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Cadastrar</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>


